@media (min-width: 1024px) {
    #user-tools .user {
        line-height: 40px;
        margin-right: 3px;
    }
}

#monitoring-notifications {
  float: right;
  display: block;
  padding: 0 20px;
  color: #fff;
  line-height: 40px;
  border: 0 none !important;
  position: relative;
  bottom: -1px;
  right: -5px;
  margin-left: 10px;
}

.bell-icon {
    height: 14px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

#monitoring-notifications span {
  position: absolute;
  top: 3px;
  right: 7px;
  width: 15px;
  height: 15px;
  display: block;
  line-height: 14px;
  text-align: center;
  border-radius: 5px;
  padding: 1px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  background-color: #d04124;
  border: 1px solid #464646;
}

#monitoring-notifications:hover span,
#monitoring-notifications:focus span {
  background-color: #d9553b;
}

@media (max-width: 1024px) {
  #monitoring-notifications {
    display: block !important;
    line-height: 40px !important;
    position: absolute;
    top: 43px;
    right: 113px;
  }
}

#notification_form .label{ font-weight: bold }
#notification_form .form-row.field-data{ display: none }
#notification_form .target { margin: 13px 0 8px }
#notification_form .target .button {
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
}
