{% load leaflet_tags i18n %}
<script type="text/javascript">
  window._owGeoMapConfig = {
    geoJsonUrl: '{{ monitoring_location_geojson_url }}',
    locationDeviceUrl: '{{ monitoring_device_list_url }}?page_size=5'
  }
</script>
<div id="device-map-container">
  {% leaflet_map "device-map" callback="owGeoMapInit" %}
  <div class="no-data">
    <p>{% trans 'No map data to show' %}.</p>
    <p><a class="button submit" href="#close">Close</a></p>
  </div>
  <div class="ow-loading-spinner"></div>
</div>
