# unpinned, the version is dictated by openwisp-controller
# TODO: Remove before release
openwisp-utils[qa] @ https://github.com/openwisp/openwisp-utils/tarball/master
redis
django-redis
mock-ssh-server~=0.8.0
channels_redis
freezegun
