openwisp-controller @ https://github.com/openwisp/openwisp-controller/tarball/61ab5c0e96e6ed0a5d789538a92d13f310250b41
influxdb~=5.3.1
django-cache-memoize~=0.1.0
django-nested-admin~=3.4.0
netaddr~=0.8
python-dateutil>=2.7,<3.0
openwisp-utils[rest] @ https://github.com/openwisp/openwisp-utils/tarball/5a8f1dea187586d85c77b46e6e3fd725f557e3c6
