openwisp-utils[qa] @ https://github.com/openwisp/openwisp-utils/tarball/62c6dfac559e914e8186de4aa80c56b03012ba38
redis~=3.5.3
django-redis~=4.12.1
mock-ssh-server~=0.9.0
channels_redis~=3.2.0
freezegun~=1.1.0
selenium~=3.141.0
