/* Health Status Container */
.health-status-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Device Issues Accordion */
.device-issues-accordion {
  margin-top: 5px;
  text-transform: none;
}
.device-issues-accordion .issues-toggle {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  font-size: 12px;
  text-transform: lowercase;
}
.device-issues-accordion .issues-toggle .mg-arrow {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0 0 -2px;
  transition: transform 0.3s;
  display: block;
}
.device-issues-accordion.expanded .issues-toggle .mg-arrow {
  transform: rotate(-180deg);
}
#content .device-issues-accordion .issues-toggle,
#content .device-issues-accordion .issues-toggle:visited {
  font-weight: lighter;
  color: var(--ow-color-fg-dark);
}
.device-issues-accordion .issues-content {
  font-size: 12px;
  font-weight: lighter;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
}
.device-issues-accordion .issues-content ul {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 5px;
}
.device-issues-accordion .issues-content li {
  list-style: none;
  font-size: 12px;
}

.device-issues-accordion.expanded .issues-content {
  max-height: 500px;
  opacity: 1;
}

.spinner-wrapper {
  position: absolute;
  left: 40%;
  top: 46%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.spinner-wrapper .ow-loading-spinner.issues-loading-spinner {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
}

.device-issues-accordion .issues-content .ow-loading-spinner.issues-loading-spinner {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 1.3rem;
}
