.health-deactivated {
  color: var(--ow-color-black);
}
.health-unknown {
  color: var(--ow-color-fg-dark);
}
.health-ok {
  color: var(--ow-color-success);
}
.health-problem {
  color: orange;
}
.health-critical {
  color: var(--ow-btn-danger-bg);
}
.health-status {
  font-weight: bold;
  text-transform: uppercase;
}
.map-detail .paginator a {
  padding: 3px 7px;
  margin: 0 3px;
  background-color: var(--ow-paginator-bg);
  color: var(--ow-paginator-text);
  text-decoration: none;
  cursor: pointer;
}
.map-detail .paginator a:hover {
  background-color: var(--ow-paginator-hover);
  color: var(--ow-paginator-text);
}
.map-detail table {
  width: 100%;
}
#device-map-container {
  margin: 50px auto;
  position: relative;
  height: 300px;
  width: 90%;
  border: 1px solid var(--border-color);
}
#device-map-container .ow-loading-spinner {
  position: absolute;
  z-index: 9999;
  top: 41%;
  left: 49%;
}
#device-map-container .leaflet-interactive:focus {
  outline: none;
}
#leaflet-config {
  display: none;
}
.no-data {
  display: none;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 115px;
}
.no-data a.button {
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  text-decoration: none !important;
}
