.health-deactivated {
  color: #000;
  background-color: #f2f4f7;
  border: 1px solid #d0d5dd;
}
.health-unknown {
  color: #344054;
  background: #f9fafb;
  border: 1px solid #eaecf0;
}
.health-ok {
  color: #067647;
  background-color: #dcfae6;
  border: 1px solid #75e0a7;
}
.health-problem {
  color: #b54708;
  background-color: #fffaeb;
  border: 1px solid #fedf89;
}
.health-critical {
  color: #b42318;
  background-color: #fef3f2;
  border: 1px solid #fecdca;
}
.health-status {
  font-weight: bold;
  text-transform: uppercase;
}
#device-map-container {
  margin: 30px auto 0px auto;
  position: relative;
  height: 430px;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
#device-map-container .ow-loading-spinner {
  position: absolute;
  z-index: 9999;
  top: 41%;
  left: 49%;
}
#device-map-container .leaflet-interactive:focus {
  outline: none;
}
#leaflet-config {
  display: none;
}
.no-data {
  display: none;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 115px;
}
.no-data a.button {
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  text-decoration: none !important;
}
.leaflet-popup-content {
  display: flex;
  min-width: 410px;
  margin: 15px 20px !important;
}
.leaflet-popup-close-button {
  top: 14px !important;
  right: 20px !important;
  font-size: 18px !important;
}
.leaflet-popup-close-button:hover,
.leaflet-popup-close-button:active,
.leaflet-popup-close-button:hover {
  color: black !important;
}
.map-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.map-detail h2 {
  margin: 0 0 5px 0;
  font-size: 15px;
  width: 90%;
}
.input-container {
  margin: 5px 0;
  position: relative;
  width: 100%;
}
.input-container::before {
  content: "";
  position: absolute;
  top: 46%;
  left: 10px;
  transform: translateY(-54%);
  width: 15px;
  height: 15px;
  background-color: #717680;
  mask-image: url("search.svg");
  -webkit-mask-image: url("search.svg");
}
.map-detail input {
  outline: none;
  width: 100%;
  padding: 5px 14px;
  padding-left: 30px;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 12px;
  border: 1px solid #d5d7da;
}
.label-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px 0;
  gap: 6px;
}
.status-filter {
  cursor: pointer;
}
.health-status {
  padding: 3px 7px;
  border-radius: 12px;
  white-space: nowrap;
  font-size: 10px;
  opacity: 0.8;
  letter-spacing: -0.25px;
}
.health-status.active {
  opacity: 1;
}
.remove-icon {
  font-weight: bold;
  display: none;
}
.status-filter.active .remove-icon {
  display: inline-block;
}
.table-container {
  max-height: 181px;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 10px 0;
}
.table-container table {
  width: 100%;
}
.table-container table thead th {
  font-size: 13px;
  padding: 8px 10px !important;
}
.table-container table tbody td {
  padding: 10px !important;
  font-size: 13px !important;
}
.th-status {
  width: 40%;
  text-align: center;
}
.col-name {
  width: 60%;
}
.col-status {
  width: 40%;
  text-align: center;
}
.table-spinner {
  display: none;
  position: absolute;
  z-index: 99;
  top: 60% !important;
  left: 45% !important;
}
.no-devices {
  font-weight: bold;
}
.floor-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  mask-repeat: no-repeat;
  margin-right: 10px;
  mask-size: 90%;
  mask-position: center;
}
.floorplan-btn {
  padding: 5px 13px;
  margin-top: 5px;
  font-size: 13px;
  border-radius: 8px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .table-container {
    min-width: 260px;
  }
}
