/* Device Issues Accordion */
.device-issues-accordion {
  margin-top: 5px;
  text-transform: none;
}
.device-issues-accordion .issues-toggle {
  font-size: 12px;
  text-transform: lowercase;
}
#content .device-issues-accordion .issues-toggle,
#content .device-issues-accordion .issues-toggle:visited {
  color: var(--ow-link-highlighted);
  text-decoration: underline;
}
#content .device-issues-accordion .issues-toggle:hover,
#content .device-issues-accordion .issues-toggle:focus,
#content .device-issues-accordion .issues-toggle:active {
  color: var(--ow-link-highlighted-hover);
  text-decoration: underline;
}
.device-issues-accordion .issues-content {
  font-size: 12px;
  font-weight: lighter;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
}
.device-issues-accordion .issues-content ul {
  margin: 0;
  padding: 0;
}
.device-issues-accordion .issues-content ul li {
  list-style: none;
}

.device-issues-accordion.expanded .issues-content {
  max-height: 500px;
  opacity: 1;
}
.device-issues-accordion .issues-content .ow-loading-spinner.issues-loading-spinner {
  width: 1.25rem;
  height: 1.25rem;
}
