#floorplan-container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 80%;
  max-width: 1000px;
  background: white;
  z-index: 9999;
  padding: 0 20px 20px 20px;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
#floorplan-heading {
  color: #333;
  margin-top: 15px;
  font-size: 1rem;
  text-align: center;
}
#floorplan-content {
  width: 100%;
  flex: 1;
}
.leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
}
#floorplan-close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  color: #757575;
  cursor: pointer;
  font:
    16px / 24px Tahoma,
    Verdana,
    sans-serif;
}

#floorplan-navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(92% + 10px);
  height: auto;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
.floorplan-navigation-body {
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floor-btn {
  padding: 10px 15px;
  min-width: 100%;
  background-color: white;
  border: 1px solid black;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  border-bottom: 1px solid #e2e1e1;
}
.floor-btn:hover {
  background-color: #f6f7f8;
}
.nav-arrow {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  cursor: pointer;
  margin: 6px 0;
  border-radius: 8px;
}
.nav-arrow.disabled {
  opacity: 0.4;
}

.up-arrow {
  border-bottom: 12px solid #9ca3af;
}

.down-arrow {
  border-top: 12px solid #9ca3af;
}

.floor-btn.selected {
  background-color: #eaecf0;
}

@media (max-width: 700px) {
  #floorplan-container {
    width: 60%;
  }
  #floorplan-navigation {
    left: calc(85% + 8px);
  }
  .floor-btn {
    padding: 8px 12px;
  }
}
