.menu-backdrop.active {
  display: block;
  background-color: rgba(225, 225, 225, 0.7);
  z-index: 10000;
  pointer-events: none;
}
#floorplan-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 88vh;
  z-index: 99998;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 375px;
}
#floorplan-container {
  background: white;
  z-index: 99999;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  pointer-events: all;
  background: #fff;
  flex-grow: 1;
}
#floorplan-close-btn {
  color: #757575;
  font-size: 20px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 1px;
  vertical-align: middle;
}
#floorplan-close-btn:hover {
  color: black;
}
#floorplan-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
#floorplan-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #333;
  white-space: normal;
  display: inline-block;
}
#floorplan-content-root {
  width: 100%;
  height: 100%;
  flex: 1;
}
.floor-content {
  width: 100%;
  height: 100%;
}
.leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
}
#floorplan-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
#floorplan-navigation.fullscreen {
  bottom: 60px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
.floorplan-navigation-body {
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.floor-btn {
  padding: 10px 15px;
  width: 45px;
  height: 45px;
  background-color: white;
  border: 1px solid black;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  border-bottom: 1px solid #e2e1e1;
}
.floor-btn.active {
  cursor: default;
}
.floor-btn:hover {
  background-color: #f6f7f8;
}
.nav-arrow {
  width: 0;
  height: 0;
  cursor: pointer;
  margin: 0 8px;
  border-radius: 8px;
}
.nav-arrow.disabled {
  opacity: 0.3;
  cursor: default;
}
.left-arrow {
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #737985;
}
.right-arrow {
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #737985;
}
.floor-btn.selected {
  background-color: #eaecf0;
}
#floorplan-container .leaflet-popup-content {
  display: flex;
  margin: 18px 20px 14px 20px !important;
}
#floorplan-container .leaflet-popup-close-button {
  top: 4px !important;
  right: 4px !important;
  font-size: 20px !important;
}
#floorplan-container .njg-tooltip-inner {
  min-width: 240px;
}
#floorplan-container .njg-tooltip-item {
  font-size: 14px;
  margin-bottom: 8px;
}
#floorplan-container .njg-tooltip-key {
  flex-basis: 45%;
}
#floorplan-container .njg-tooltip-value {
  flex-basis: auto;
}
.popup-status {
  padding: 1px 10px;
  border-radius: 12px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
.open-device-btn-container {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.open-device-btn {
  padding: 5px 18px !important;
  margin: 4px auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}
.open-device-btn:hover {
  text-decoration: none;
}
@media (max-width: 768px) {
  .menu-backdrop.active {
    z-index: 10000;
  }
  #floorplan-container {
    top: -8%;
    height: 80%;
  }
}
