#ow-graph-time{
  margin-top: 15px;
  text-align: center
}
#ow-graph-time a{
  display: inline-block;
  margin: 0 2px;
  color: #fff;
  background-color: #666;
  padding: 5px 15px;
  text-decoration: none !important;
  border-radius: 3px;
  cursor: pointer;
}
#ow-graph-time a:hover{
  background-color: #000
}
#ow-graph-time a.active{
  background: transparent;
  color: #666;
  cursor: default;
  border: 1px solid #666;
}
#ow-graph-time a.export{
  background: rgba(0,0,0,0.32);
}
#ow-graph-time a.export:hover{
  background: rgba(0,0,0,0.45);
}
#ow-graph-fallback{
  display: none;
  border: 0 none;
}

#ow-device-status .inline-related h2{
  color: #333;
  background-color: rgba(0, 0, 0, 0.05);
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

td.field-health_status,
.field-health_status .readonly{
  font-weight: bold;
  text-transform: uppercase;
}
.health-unknown{ color: grey }
.health-ok{ color: green }
.health-problem{ color: orange }
.health-critical{ color: red }

#ow-graph-contents > div {
    position: relative;
}

.chart-help {
    display: inline-block;
    width: 22px;
    height: 21px;
    text-indent: -9999px;
    background: url(../../admin/img/icon-unknown.svg) 0 0 no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
    opacity: 0.6;
    cursor: pointer;
    margin-left: 3px;
}
.chart-help:hover,
.chart-help:active,
.chart-help:focus,
.chart-help.active {
    opacity: 1
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 15px !important;
    max-width: 500px;
    line-height: 1.6em;
    border-radius: 4px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    font-size: 1.2em
}

.graph-heading {
    margin: 0;
    font-size: 2em;
    text-align: center;
    font-size: 1.22em;
    font-weight: normal;
    color: #434B62;
}

.ow-chart {
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
}
.ow-chart:first-child{
    border: 0 none;
    padding-top: 0;
    margin-top: 2.25em;
}

.ow-chart .summary {
    text-align: right;
    margin: 0;
}
