#ow-graph-container{ display: none }
#ow-graph-time{
  margin-top: 15px;
  text-align: center
}
#ow-graph-time a{
  display: inline-block;
  margin: 0 2px;
  color: #fff;
  background-color: #666;
  padding: 5px 15px;
  text-decoration: none !important;
  border-radius: 3px;
  cursor: pointer;
}
#ow-graph-time a:hover{
  background-color: #000
}
#ow-graph-time a.active{
  background: transparent;
  color: #666;
  cursor: default;
  border: 1px solid #666;
}
#ow-graph-time a.export{
  background: rgba(0,0,0,0.32);
}
#ow-graph-time a.export:hover{
  background: rgba(0,0,0,0.45);
}

#ow-device-status .inline-related h2{
  color: #333;
  background-color: rgba(0, 0, 0, 0.05);
  outline: 1px solid rgba(0, 0, 0, 0.3);
}
