#ow-chart-time{
  margin-top: 15px;
  text-align: center
}
#ow-chart-time a{
  display: inline-block;
  margin: 0 2px;
  color: #fff;
  background-color: #666;
  padding: 5px 15px;
  text-decoration: none !important;
  border-radius: 3px;
  cursor: pointer;
}
#ow-chart-time a:hover{
  background-color: #000
}
#ow-chart-time a.active{
  background: transparent;
  color: #666;
  cursor: default;
  border: 1px solid #666;
}
#ow-chart-time a.export{
  background: rgba(0,0,0,0.32);
}
#ow-chart-time a.export:hover{
  background: rgba(0,0,0,0.45);
}
#ow-chart-fallback{
  display: none;
  border: 0 none;
}
#ow-device-status > fieldset > .inline-related {
  padding: 0 1px;
}
#ow-device-status h2{
  color: #333;
  background-color: rgba(0, 0, 0, 0.05);
  outline: 1px solid rgba(0, 0, 0, 0.3);
  padding: 15px;
}
#ow-device-status .form-row,
#ow-device-status table th,
#ow-device-status table td{
  padding: 15px 20px !important;
}
#ow-device-status .form-row label,
#ow-device-status .form-row div,
#ow-device-status table td,
#ow-device-status table th {
  font-size: 15px !important;
}
#ow-device-status .form-row label {
  padding-top: 2px;
}
#ow-device-status .inline-group{
  margin-bottom: 0;
  padding-top: 1px;
}
#ow-device-status table{
  width: 100%;
  margin: 0;
}
#ow-device-status th {
  border-top: 0 none;
  background: #f9f9f9 !important;
}
td.field-health_status,
.field-health_status .readonly{
  font-weight: bold;
  text-transform: uppercase;
}
.health-unknown{ color: grey }
.health-ok{ color: green }
.health-problem{ color: orange }
.health-critical{ color: red }
#ow-chart-contents > div {
  position: relative
}
.chart-help {
  display: inline-block;
  width: 22px;
  height: 21px;
  text-indent: -9999px;
  background: url(../../admin/img/icon-unknown.svg) 0 0 no-repeat;
  background-size: 80%;
  background-position: 50% 50%;
  opacity: 0.6;
  cursor: pointer;
  margin-left: 3px;
}
.chart-help:hover,
.chart-help:active,
.chart-help:focus,
.chart-help.active {
  opacity: 1
}
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 15px !important;
  max-width: 500px;
  line-height: 1.6em;
  border-radius: 4px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
  font-size: 1.2em
}
.chart-heading {
  margin: 0;
  font-size: 2em;
  text-align: center;
  font-size: 1.22em;
  font-weight: normal;
  color: #434B62;
}
.ow-chart {
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  text-align: center;
}
.ow-chart:first-child{
  border: 0 none;
  padding-top: 0;
  margin-top: 2.25em;
}
.ow-chart .summary {
  text-align: right;
  margin: 0;
}
.ow-chart .circle {
  display: inline-block;
  float: none;
  margin: 0em 0.15em 0 0.15em;
  background: rgba(0, 0, 0, 0.125);
}
#ow-chart-contents .percircle:hover > span {
  transform: scale(1.15) translateY(-50%);
  letter-spacing: -0.3px;
}
.percircle:hover:after {
  transform: scale(1.05);
}
.percircle.small {
  font-size: 90px;
}
.ow-chart .custom-legend {
  margin: 0 0 1.5em;
}
.ow-chart .legend {
  display: inline-block;
  margin: 0 0.5em;
  font-size: 13px;
  cursor: default;
}
.ow-chart .legend span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 2px;
}
#ow-chart-container .circle > span {
  font-size: .15em;
  word-spacing: -0.75px;
  color: rgba(0, 0, 0, 0.6) !important;
  font-size: 13px;
  font-weight: bold;
}
#ow-chart-container b{
  background-color: #000 !important;
}
#ow-device-status table.addresses td{ width: 50% }
.wifi-clients th.ht,
.wifi-clients th.vht,
.wifi-clients th.wmm,
.wifi-clients th.wds,
.wifi-clients th.wps{
  cursor: default;
}
#monitoring-metric-content_type-object_id-group .inline-related h3 {
  padding: 10px 20px;
}
#monitoring-metric-content_type-object_id-group .djn-group-nested fieldset.djn-fieldset.module > h2,
#monitoring-metric-content_type-object_id-group .djn-group-nested fieldset.djn-fieldset.module .djn-inline-form > h3{
  display: none;
}
#monitoring-metric-content_type-object_id-group{
  padding-top: 0 !important;
}
.form-row.field-health_checks div.readonly {
  margin-left: 0px !important;
}
