.njg-relativePosition {
  position: relative;
  left: 0;
  right: 0;
}
.njg-container {
  position: relative;
  left: 0;
  right: 0;
  background: var(--ow-color-fg-ghost);
  border-radius: 2px;
  border: 1px solid var(--border-color);
  color: var(--ow-color-fg-dark);
  line-height: 20px;
  max-width: 100%;
  min-width: 200px;
}
.njg-container #graphChartContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.njg-container .leaflet-control-zoom {
  top: 5px;
}
.njg-container .leaflet-control-zoom-in {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.njg-container .leaflet-control-zoom-out {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.njg-container .leaflet-control-fullscreen {
  top: 5px;
}
.njg-container .leaflet-control-fullscreen-button {
  border-radius: 5px !important;
}
.njg-container .leaflet-control-layers-toggle {
  height: 35px !important;
  width: 35px !important;
  background-size: 20px 20px !important;
}
.njg-container .marker-cluster div {
  color: var(--ow-color-white);
  background-color: var(--ow-overlay-gray-70) !important;
}
.njg-container .ok div {
  background-color: color-mix(
    in srgb,
    var(--ow-color-success),
    transparent 20%
  ) !important;
}
.njg-container .problem div {
  background-color: rgba(255, 180, 66, 0.8) !important;
}
.njg-container .critical div {
  background-color: color-mix(
    in srgb,
    var(--ow-btn-danger-bg),
    transparent 20%
  ) !important;
}
.njg-container .unknown div {
  background-color: var(--ow-overlay-gray-70) !important;
}
.njg-container .njg-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 999;
  background-color: inherit;
}
.njg-container .njg-sideBar {
  display: none;
}
.njg-container .njg-tooltip {
  background: var(--ow-color-white) !important;
  border: none !important;
}
.njg-container .njg-tooltip-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1px 0;
  flex-wrap: wrap;
}
.njg-container .njg-tooltip-key {
  display: inline-flex;
  flex-basis: 40%;
  flex-wrap: wrap;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--ow-color-black);
}
.njg-container .njg-tooltip-value {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 60%;
  color: var(--ow-color-black);
}
