{% extends "admin/config/change_form.html" %}
{% load i18n static %}
{% block after_field_sets %}
{% if not add and device_data %}
<div class="inline-group" id="ow-device-status">
    <fieldset class="module">
        <h2>{% trans 'Device Status' %}</h2>
        <div class="inline-related">
            <fieldset class="module aligned">
              {% if device_data.general %}
              {% if device_data.general.local_time %}
              <div class="form-row">
                  <label>{% trans 'Local time' %}:</label>
                  <div class="readonly">
                      {{ device_data.general.local_time }}
                  </div>
              </div>
              {% endif %}
              {% if device_data.general.uptime %}
              <div class="form-row">
                  <label>{% trans 'Uptime' %}:</label>
                  <div class="readonly">
                      {{ device_data.general.uptime }}
                  </div>
              </div>
              {% endif %}
              {% endif %}
              {% if device_data.resources %}
              {% if device_data.resources.memory %}
              <h2>{% trans 'RAM status' %}</h2>
              <div class="form-row">
                  <label>{% trans 'Total' %}:</label>
                  <div class="readonly">
                      {{ device_data.resources.memory.total }} MB
                  </div>
              </div>
              <div class="form-row">
                  <label>{% trans 'Free' %}:</label>
                  <div class="readonly">
                      {{ device_data.resources.memory.free }} MB
                  </div>
              </div>
              <div class="form-row">
                  <label>{% trans 'Buffered' %}:</label>
                  <div class="readonly">
                      {{ device_data.resources.memory.buffered }} MB
                  </div>
              </div>
              <div class="form-row">
                  <label>{% trans 'Shared' %}:</label>
                  <div class="readonly">
                      {{ device_data.resources.memory.shared }} MB
                  </div>
              </div>
              {% endif %}
              {% if device_data.resources.load %}
              <h2>{% trans 'Load status' %}</h2>
              <div class="form-row">
                  <label>{% trans 'Load average' %}:</label>
                  <div class="readonly">
                      {{ device_data.resources.load|join:", &nbsp;" }}
                  </div>
              </div>
              {% endif %}
              {% endif %}
              {% if device_data.arp_table %}
              <h2>{% trans 'ARP table' %}</h2>
              <table>
                <thead>
                    <tr>
                        <th>{% trans 'IP Address' %}</th>
                        <th>{% trans 'MAC Address' %}</th>
                        <th>{% trans 'Interface' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for arp_entry in device_data.arp_table %}
                    <tr>
                        <td>{{ arp_entry.ip_address }}</td>
                        <td>{{ arp_entry.mac_address }}</td>
                        <td>{{ arp_entry.interface }}</td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
              {% endif %}
              {% if device_data.interfaces %}
              {% for interface in device_data.interfaces %}
              <div class="inline-group">
                  <h2>{% trans 'Interface status' %}: {{ interface.name }}</h2>
                  {% if interface.wireless %}
                  <div class="form-row">
                      <label>{% trans 'Mode' %}:</label>
                      <div class="readonly">
                          {{ interface.wireless.mode }}
                      </div>
                  </div>
                  <div class="form-row">
                      <label>{% trans 'SSID' %}:</label>
                      <div class="readonly">
                          {{ interface.wireless.ssid }}
                      </div>
                  </div>
                  <div class="form-row">
                      <label>{% trans 'Channel' %}:</label>
                      <div class="readonly">
                          {{ interface.wireless.channel }}
                      </div>
                  </div>
                  <div class="form-row">
                      <label>{% trans 'Frequency' %}:</label>
                      <div class="readonly">
                          {{ interface.wireless.frequency }} GHz
                      </div>
                  </div>
                  <div class="form-row">
                      <label>{% trans 'Transmission Power' %}:</label>
                      <div class="readonly">
                          {{ interface.wireless.tx_power }} dBm
                      </div>
                  </div>
                  <div class="form-row">
                      <label>{% trans 'Signal' %}:</label>
                      <div class="readonly">
                          {{ interface.wireless.signal }} dBm
                      </div>
                  </div>
                  <div class="form-row">
                      <label>{% trans 'Noise' %}:</label>
                      <div class="readonly">
                          {{ interface.wireless.noise }} dBm
                      </div>
                  </div>
                  {% if interface.wireless.clients %}
                  <div class="form-row">
                      <label>{% trans 'Associated clients' %}:</label>
                      <div class="readonly">
                          {{ interface.wireless.clients|length }}
                      </div>
                  </div>
                  {% endif %}
                  {% endif %}
              </div>
              {% endfor %}
              {% endif %}
            </fieldset>
        </div>
    </fieldset>
</div>
{% endif %}
{% if not add %}
<div class="inline-group" id="ow-graph-container">
    <fieldset class="module">
        <h2>{% trans 'Monitoring Graphs' %}</h2>
        <div id="ow-graph-time">
          <a class="time" data-time="1d">1 {% trans 'day' %}</a>
          <a class="time" data-time="3d">3 {% trans 'days' %}</a>
          <a class="time" data-time="7d">1 {% trans 'week' %}</a>
          <a class="time" data-time="30d">1 {% trans 'month' %}</a>
          <a class="time" data-time="365d">1 {% trans 'year' %}</a>
          <a class="export">{% trans 'export data' %}</a>
        </div>
        <div id="ow-graph-contents"></div>
        <div id="ow-graph-fallback" class="form-row">
            {% trans 'No graphs to show at the moment' %}.
        </div>
    </fieldset>
</div>
<script>
  django.jQuery(function($) {
    var graphContents = $('#ow-graph-contents'),
        fallback = $('#ow-graph-fallback'),
        timeButtonsContainer = $('#ow-graph-time'),
        timeButtons = $('#ow-graph-time a.time'),
        timeRangeKey = 'ow2-graph-time-range',
        defaultTimeRange = localStorage.getItem(timeRangeKey) || '{{ default_time }}',
        baseUrl = '{{ api_url }}?key={{ original.key }}&time=',
        loadingOverlay = $('#loading-overlay'),
        loadGraphs = function (time, showLoading) {
          var url = baseUrl + time;
          if (showLoading) {
            loadingOverlay.show();
          }
          $.getJSON(url).done(function (data) {
            if (data.graphs.length) {
                timeButtonsContainer.show();
                fallback.hide();
            } else {
                timeButtonsContainer.hide();
                fallback.show()
            }
            $.each(data.graphs, function (i, graph) {
              var htmlId = 'graph-' + i,
                  graphDiv = $('#' + htmlId);
              if (!graphDiv.length) {
                graphContents.append(
                    '<div id="' + htmlId + '" class="ow-chart">' +
                    '<div class="js-plotly-plot"></div></div>'
                );
              }
              createGraph(graph, data.x, htmlId, graph.title, graph.type);
            });
            if (showLoading) { loadingOverlay.fadeOut(200); }
          }).fail(function (){
            if (showLoading) { loadingOverlay.fadeOut(200); }
            alert('Something went wrong while loading the graphs');
          });
        },
        triggerClick = function() {
          var range = localStorage.getItem(timeRangeKey) || defaultTimeRange;
          $('#ow-graph-time a[data-time=' + range + ']').trigger('click');
        };
    // try adding the browser timezone to the querystring
    try {
      var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      baseUrl = baseUrl.replace('time=', 'timezone=' + timezone + '&time=');
    // ignore failures (older browsers do not support this)
    } catch (e) {}
    timeButtons.click(function () {
      var timeRange = $(this).attr('data-time');
      loadGraphs(timeRange, true);
      localStorage.setItem(timeRangeKey, timeRange);
      timeButtons.removeClass('active');
      $(this).addClass('active');
      // refresh every 2.5 minutes
      clearInterval(window.owGraphRefresh);
      window.owGraphRefresh = setInterval(loadGraphs,
                                          1000 * 60 * 2.5,
                                          timeRange,
                                          false);
    });
    // load graphs only when tab is shown
    $(document).on('tabshown', function(e){
      if (e.tabId === '#ow-graph-container') {
        triggerClick();
      } else {
        clearInterval(window.owGraphRefresh);
      }
    });
    if (window.location.hash == '#ow-graph-container') {
        $.event.trigger({
          type: 'tabshown',
          tabId: window.location.hash,
        });
    }
    // bind export button
    $('#ow-graph-time a.export').click(function() {
      var time = localStorage.getItem(timeRangeKey);
      location.href = baseUrl + time + '&csv=1';
    })
  });
</script>
{% endif %}
{% endblock %}
